<% content_for :share_content do %>
    <meta property='og:image' content="<%= "#{share_url(id: @card.code)}.png" %>"/>
    <meta name="twitter:image" content="<%= "#{share_url(id: @card.code)}.png" %>" class="next-head"/>
<% end %>
<div class="story d-flex justify-content-center">
    <div class="snowflakes" aria-hidden="true">
        <div class="snowflake">❅</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
        <div class="snowflake">❅</div>
        <div class="snowflake">❆</div>
        <div class="snowflake">❄</div>
    </div>
    <div class="story--bg" style="background: url(<%= "#{share_url(id: @card.code)}.png" %>); background-size: cover;"></div>
    <div class="story--content d-flex justify-content-lg-end">
        <div class="d-flex flex-row story--menu justify-content-end">
            <a class="action jsActionPlay playing"><i class="ti-control-play"></i></a>
            <%= link_to "#{share_url(id: @card.code)}.mp4",class:"action" do %><i class="ti-download"></i><% end %>
        </div>
        <img class="story--image" src="<%= "#{share_url(id: @card.code)}.png" %>"/>
        <div class="progress story-progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <audio class="story-player" autoplay>
        <source class="jsAudioSource" src="<%= @card.try(:music).try(:container).try(:url) %>" type="audio/mp3">
    </audio>
    <div class="watermark text-center">
        <span class="md-b">Made with <i class="ti-heart"></i> by <%= @card.user.name %></span><br/><span class="pwd-b">Powered by <%= link_to "Xmeme", root_url %></span>
    </div>
</div>