<ul class="nav flex-column list__images">
    <% resources&.each do |resource| %>
        <li class="nav-item dropright">
            <a class="list--item" id="image-<%= resource.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag resource.container.standard.url, class:"item--image" , crossorigin: "anonymous"%>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item menu_action jsInsertImage" data-image-cdn="<%= resource.container.url %>" data-type="<%= resource.resource_type %>"><i class="ti-gallery"></i> 挿入</a>
                <% if resource.resource_type == "image" %>
                  <a class="dropdown-item menu_action jsInsertBackground" data-image-cdn="<%= resource.container.url %>" data-type="<%= resource.resource_type %>"><i class="ti-image"></i> 背景</a>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>