<div class="edit__card--layout_list">
    <div class="title"><h5>レイアウト一覧</h5></div>
    <div class="card--layout_list d-flex flex-column justify-content-center justify-content-sm-center mt-1">
        <% layouts.each do |clayout| %>
            <%= link_to "#", class:"item--layout mx-auto jsChangeLayout", data:{"layout-id": clayout&.id} do %>
                <div class="thumb" style="width:<%= clayout.width/8 %>px; height:<%= clayout.height/8 %>px" data-toggle="tooltip" data-placement="right" title="<%= clayout.name %>">
                    <i class="layout--icon ti-<%= clayout.tag %>" style="line-height:<%= clayout.height/8 %>px;"></i>
                </div>
                <span class="description" style="width:<%= clayout.width/8 %>px;"><%= clayout.name %></span>
            <% end %>
        <% end %>
    </div>
</div>